@{
    ViewData["Title"] = "Login";
}
<h2>Login</h2>
<form method="post" asp-controller="Auth" asp-action="Login">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" />
    <br />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    <br />
    <button type="submit">Login</button>
</form>
@if (ViewBag.Error != null)
{
    <p style="color: red;">@ViewBag.Error</p>
}
